In [1]:
import pandas as pd
import glob
import os
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')

In [2]:
folder_path = "data//steph_data_csv"

# Use glob to get a list of all Excel files in the folder
csv_files = glob.glob(f"{folder_path}/*.csv")

# Loop through each CSV file and read it into a Pandas DataFrame
dfs = []
for file in csv_files:
    df = pd.read_csv(file, sep=";")
    print(file, df.shape)
    dfs.append(df)

# If you want to concatenate all DataFrames into a single DataFrame, you can use pd.concat
all_games_df = pd.concat(dfs, ignore_index=False)

all_games_df.to_csv("data//game_logs_steph", index=False)

data//steph_data_csv\sportsref_download (1).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (10).xls.csv (65, 30)
data//steph_data_csv\sportsref_download (11).xls.csv (72, 30)
data//steph_data_csv\sportsref_download (12).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (13).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (2).xls.csv (66, 30)
data//steph_data_csv\sportsref_download (3).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (4).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (5).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (6).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (7).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (8).xls.csv (82, 30)
data//steph_data_csv\sportsref_download (9).xls.csv (82, 30)
data//steph_data_csv\sportsref_download.xls.csv (82, 30)

In [3]:
player_df = pd.read_csv("data//game_logs_steph", sep=",")
player_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,27/10/2010,22-227,GSW,NaN,HOU,W (+4),1,39:04:00,...,1.0,2.0,11.0,0.0,1.0,5.0,4.0,25.0,20.2,4.0
1,2,2.0,29/10/2010,22-229,GSW,NaN,LAC,W (+18),1,26:53:00,...,2.0,2.0,6.0,2.0,0.0,2.0,2.0,16.0,15.7,17.0
2,3,NaN,31/10/2010,22-231,GSW,@,LAL,L (-24),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,03/11/2010,22-234,GSW,NaN,MEM,W (+6),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,3.0,05/11/2010,22-236,GSW,NaN,UTA,W (+7),1,32:59:00,...,1.0,1.0,6.0,2.0,0.0,5.0,5.0,20.0,10.4,8.0

In [4]:
def get_season(date):
    month = date.split("/")[1]
    year = date.split("/")[2]

    if 1 <= int(month) <= 5:
        year = str(int(year) - 1)

    season = year + "-" + str(int(year) + 1)
    return season

In [5]:
player_df["Season"] = player_df["Date"].apply(get_season)
player_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Season
0,1,1.0,27/10/2010,22-227,GSW,NaN,HOU,W (+4),1,39:04:00,...,2.0,11.0,0.0,1.0,5.0,4.0,25.0,20.2,4.0,2010-2011
1,2,2.0,29/10/2010,22-229,GSW,NaN,LAC,W (+18),1,26:53:00,...,2.0,6.0,2.0,0.0,2.0,2.0,16.0,15.7,17.0,2010-2011
2,3,NaN,31/10/2010,22-231,GSW,@,LAL,L (-24),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-2011
3,4,NaN,03/11/2010,22-234,GSW,NaN,MEM,W (+6),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-2011
4,5,3.0,05/11/2010,22-236,GSW,NaN,UTA,W (+7),1,32:59:00,...,1.0,6.0,2.0,0.0,5.0,5.0,20.0,10.4,8.0,2010-2011

In [6]:
player_df["Year"] = player_df["Season"].apply(lambda x: x[:4]).astype(int)
player_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Season,Year
0,1,1.0,27/10/2010,22-227,GSW,NaN,HOU,W (+4),1,39:04:00,...,11.0,0.0,1.0,5.0,4.0,25.0,20.2,4.0,2010-2011,2010
1,2,2.0,29/10/2010,22-229,GSW,NaN,LAC,W (+18),1,26:53:00,...,6.0,2.0,0.0,2.0,2.0,16.0,15.7,17.0,2010-2011,2010
2,3,NaN,31/10/2010,22-231,GSW,@,LAL,L (-24),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-2011,2010
3,4,NaN,03/11/2010,22-234,GSW,NaN,MEM,W (+6),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-2011,2010
4,5,3.0,05/11/2010,22-236,GSW,NaN,UTA,W (+7),1,32:59:00,...,6.0,2.0,0.0,5.0,5.0,20.0,10.4,8.0,2010-2011,2010

In [7]:
player_df["Rk"] = player_df["Rk"].astype(str)

In [8]:
player_df["Season-game-number"] = player_df["Season"] + "-" + player_df["Rk"]

In [9]:
player_df.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,STL,BLK,TOV,PF,PTS,GmSc,+/-,Season,Year,Season-game-number
0,1,1.0,27/10/2010,22-227,GSW,NaN,HOU,W (+4),1,39:04:00,...,0.0,1.0,5.0,4.0,25.0,20.2,4.0,2010-2011,2010,2010-2011-1
1,2,2.0,29/10/2010,22-229,GSW,NaN,LAC,W (+18),1,26:53:00,...,2.0,0.0,2.0,2.0,16.0,15.7,17.0,2010-2011,2010,2010-2011-2
2,3,NaN,31/10/2010,22-231,GSW,@,LAL,L (-24),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-2011,2010,2010-2011-3
3,4,NaN,03/11/2010,22-234,GSW,NaN,MEM,W (+6),Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-2011,2010,2010-2011-4
4,5,3.0,05/11/2010,22-236,GSW,NaN,UTA,W (+7),1,32:59:00,...,2.0,0.0,5.0,5.0,20.0,10.4,8.0,2010-2011,2010,2010-2011-5

In [10]:
player_df["Year"].value_counts()

Year
2010    82
2021    82
2022    82
2012    82
2013    82
2014    82
2015    82
2016    82
2017    82
2018    82
2009    82
2020    72
2011    66
2019    65
Name: count, dtype: int64

In [11]:
folder_path = "data//stphen_team"

# Use glob to get a list of all Excel files in the folder
csv_files = glob.glob(f"{folder_path}/*.csv")

# Loop through each CSV file and read it into a Pandas DataFrame
dfs = []
for file in csv_files:
    df = pd.read_csv(file, sep=";")
    print(file, df.shape)
    dfs.append(df)

# If you want to concatenate all DataFrames into a single DataFrame, you can use pd.concat
combined_df = pd.concat(dfs, ignore_index=False)

combined_df.to_csv("data//stphen_team_logs", index=False)

data//stphen_team\sportsref_download (14).xls.csv (82, 15)
data//stphen_team\sportsref_download (15).xls.csv (82, 15)
data//stphen_team\sportsref_download (16).xls.csv (66, 15)
data//stphen_team\sportsref_download (17).xls.csv (82, 15)
data//stphen_team\sportsref_download (18).xls.csv (82, 15)
data//stphen_team\sportsref_download (19).xls.csv (82, 15)
data//stphen_team\sportsref_download (20).xls.csv (82, 15)
data//stphen_team\sportsref_download (21).xls.csv (82, 15)
data//stphen_team\sportsref_download (22).xls.csv (82, 15)
data//stphen_team\sportsref_download (23).xls.csv (82, 15)
data//stphen_team\sportsref_download (24).xls.csv (65, 15)
data//stphen_team\sportsref_download (25).xls.csv (74, 15)
data//stphen_team\sportsref_download (26).xls.csv (82, 15)
data//stphen_team\sportsref_download (27).xls.csv (82, 15)

In [12]:
team_df = pd.read_csv("data//stphen_team_logs", sep=",")
team_df.head()

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,"Wed, Oct 28, 2009",10:30p,NaN,Box Score,NaN,Houston Rockets,L,NaN,107,108,0,1,L 1,NaN
1,2,"Fri, Oct 30, 2009",10:00p,NaN,Box Score,@,Phoenix Suns,L,NaN,101,123,0,2,L 2,NaN
2,3,"Wed, Nov 4, 2009",10:30p,NaN,Box Score,NaN,Memphis Grizzlies,W,NaN,113,105,1,2,W 1,NaN
3,4,"Fri, Nov 6, 2009",10:30p,NaN,Box Score,NaN,Los Angeles Clippers,L,NaN,90,118,1,3,L 1,NaN
4,5,"Sun, Nov 8, 2009",9:00p,NaN,Box Score,@,Sacramento Kings,L,NaN,107,120,1,4,L 2,NaN

In [13]:
month_list = ["January", "February", "March", "April", "May", "June", "July", "August", 
              "September", "October", "November", "December"]

month_dic = {}
for index, month in enumerate(month_list):
    month_dic[month[:3]] = str(index + 1)
print(month_dic)

{'Jan': '1', 'Feb': '2', 'Mar': '3', 'Apr': '4', 'May': '5', 'Jun': '6', 'Jul': '7', 'Aug': '8', 'Sep': '9', 'Oct': '10', 'Nov': '11', 'Dec': '12'}

In [14]:
def get_season_gsw(date):
    year = date.split(", ")[2]
    print(year)
    date_string = date.split(", ")[1].split(" ")[0]
    print(date_string)
    month = month_dic[date_string]

    if 1 <= int(month) <= 5:
        year = str(int(year) - 1)

    season = year + "-" + str(int(year) + 1)
    return season

In [15]:
print(get_season_gsw("Tue, Oct 18, 2022"))

2022
Oct
2022-2023

In [16]:
team_df["Season"] = team_df["Date"].apply(get_season_gsw)

2009
Oct
2009
Oct
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Nov
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2009
Dec
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Jan
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Feb
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Mar
2010
Apr
2010
Apr
2010
Apr
2010
Apr
2010
Apr
2010
Apr
2010
Apr
2010
Apr
2010
Oct
2010
Oct
2010
Oct
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Nov
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2010
Dec
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Jan
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Feb
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Mar
2011
Apr
2011
Apr
2011
Apr
2011
Apr
2011
Apr
2011
Apr
2011
Dec
2011
Dec
2011
Dec
2011
Dec
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Jan
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Feb
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Mar
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Apr
2012
Oct
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Nov
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2012
Dec
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Jan
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Feb
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Mar
2013
Apr
2013
Apr
2013
Apr
2013
Apr
2013
Apr
2013
Apr
2013
Apr
2013
Apr
2013
Oct
2013
Oct
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Nov
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2013
Dec
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Jan
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Feb
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Mar
2014
Apr
2014
Apr
2014
Apr
2014
Apr
2014
Apr
2014
Apr
2014
Apr
2014
Apr
2014
Apr
2014
Oct
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Nov
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2014
Dec
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Jan
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Feb
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Mar
2015
Apr
2015
Apr
2015
Apr
2015
Apr
2015
Apr
2015
Apr
2015
Apr
2015
Apr
2015
Oct
2015
Oct
2015
Oct
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Nov
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2015
Dec
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Jan
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Feb
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Mar
2016
Apr
2016
Apr
2016
Apr
2016
Apr
2016
Apr
2016
Apr
2016
Apr
2016
Oct
2016
Oct
2016
Oct
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Nov
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2016
Dec
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Jan
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Feb
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Mar
2017
Apr
2017
Apr
2017
Apr
2017
Apr
2017
Apr
2017
Apr
2017
Oct
2017
Oct
2017
Oct
2017
Oct
2017
Oct
2017
Oct
2017
Oct
2017
Oct
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Nov
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2017
Dec
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Jan
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Feb
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Mar
2018
Apr
2018
Apr
2018
Apr
2018
Apr
2018
Apr
2018
Apr
2018
Oct
2018
Oct
2018
Oct
2018
Oct
2018
Oct
2018
Oct
2018
Oct
2018
Oct
2018
Oct
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Nov
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2018
Dec
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Jan
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Feb
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Mar
2019
Apr
2019
Apr
2019
Apr
2019
Apr
2019
Apr
2019
Apr
2019
Oct
2019
Oct
2019
Oct
2019
Oct
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Nov
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2019
Dec
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Jan
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Feb
2020
Mar
2020
Mar
2020
Mar
2020
Mar
2020
Mar
2020
Dec
2020
Dec
2020
Dec
2020
Dec
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Jan
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Feb
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Mar
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
Apr
2021
May
2021
May
2021
May
2021
May
2021
May
2021
May
2021
May
2021
May
2021
May
2021
May
2021
May
2021
Oct
2021
Oct
2021
Oct
2021
Oct
2021
Oct
2021
Oct
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Nov
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2021
Dec
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Jan
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Feb
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Mar
2022
Apr
2022
Apr
2022
Apr
2022
Apr
2022
Apr
2022
Oct
2022
Oct
2022
Oct
2022
Oct
2022
Oct
2022
Oct
2022
Oct
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Nov
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2022
Dec
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Jan
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Feb
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Mar
2023
Apr
2023
Apr
2023
Apr
2023
Apr

In [17]:
team_df.head()

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes,Season
0,1,"Wed, Oct 28, 2009",10:30p,NaN,Box Score,NaN,Houston Rockets,L,NaN,107,108,0,1,L 1,NaN,2009-2010
1,2,"Fri, Oct 30, 2009",10:00p,NaN,Box Score,@,Phoenix Suns,L,NaN,101,123,0,2,L 2,NaN,2009-2010
2,3,"Wed, Nov 4, 2009",10:30p,NaN,Box Score,NaN,Memphis Grizzlies,W,NaN,113,105,1,2,W 1,NaN,2009-2010
3,4,"Fri, Nov 6, 2009",10:30p,NaN,Box Score,NaN,Los Angeles Clippers,L,NaN,90,118,1,3,L 1,NaN,2009-2010
4,5,"Sun, Nov 8, 2009",9:00p,NaN,Box Score,@,Sacramento Kings,L,NaN,107,120,1,4,L 2,NaN,2009-2010

In [18]:
team_df["G"] = team_df["G"].astype(str)

In [19]:
team_df["Season-game-number"] = team_df["Season"] + "-" + team_df["G"]

In [20]:
team_df.head()

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes,Season,Season-game-number
0,1,"Wed, Oct 28, 2009",10:30p,NaN,Box Score,NaN,Houston Rockets,L,NaN,107,108,0,1,L 1,NaN,2009-2010,2009-2010-1
1,2,"Fri, Oct 30, 2009",10:00p,NaN,Box Score,@,Phoenix Suns,L,NaN,101,123,0,2,L 2,NaN,2009-2010,2009-2010-2
2,3,"Wed, Nov 4, 2009",10:30p,NaN,Box Score,NaN,Memphis Grizzlies,W,NaN,113,105,1,2,W 1,NaN,2009-2010,2009-2010-3
3,4,"Fri, Nov 6, 2009",10:30p,NaN,Box Score,NaN,Los Angeles Clippers,L,NaN,90,118,1,3,L 1,NaN,2009-2010,2009-2010-4
4,5,"Sun, Nov 8, 2009",9:00p,NaN,Box Score,@,Sacramento Kings,L,NaN,107,120,1,4,L 2,NaN,2009-2010,2009-2010-5

In [21]:
team_df["Season"].value_counts()

Season
2009-2010    82
2010-2011    82
2012-2013    82
2013-2014    82
2014-2015    82
2015-2016    82
2016-2017    82
2017-2018    82
2018-2019    82
2021-2022    82
2022-2023    82
2020-2021    74
2011-2012    66
2019-2020    65
Name: count, dtype: int64

In [22]:
player_df["Season"].value_counts()

Season
2010-2011    82
2021-2022    82
2022-2023    82
2012-2013    82
2013-2014    82
2014-2015    82
2015-2016    82
2016-2017    82
2017-2018    82
2018-2019    82
2009-2010    82
2020-2021    72
2011-2012    66
2019-2020    65
Name: count, dtype: int64

In [23]:
inner_join_result = pd.merge(team_df, player_df, on="Season-game-number", how="inner")

In [24]:
inner_join_result.shape

(1105, 49)

In [25]:
team_df.shape

(1107, 17)

In [26]:
player_df.shape

(1105, 33)

In [27]:
merged_result = pd.merge(team_df, player_df, on="Season-game-number", how="outer", indicator=True)

In [28]:
merged_result.shape

(1107, 50)

In [29]:
rejected_rows = merged_result[merged_result["_merge"] == "left_only"]

In [30]:
rejected_rows["Season-game-number"]

939    2020-2021-73
940    2020-2021-74
Name: Season-game-number, dtype: object

In [31]:
inner_join_result.columns

Index(['G_x', 'Date_x', 'Start (ET)', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5_x', 'Opponent', 'Unnamed: 7_x', 'Unnamed: 8', 'Tm_x',
       'Opp_x', 'W', 'L', 'Streak', 'Notes', 'Season_x', 'Season-game-number',
       'Rk', 'G_y', 'Date_y', 'Age', 'Tm_y', 'Unnamed: 5_y', 'Opp_y',
       'Unnamed: 7_y', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'GmSc', '+/-', 'Season_y', 'Year'],
      dtype='object')

In [32]:
duplicate_rows = inner_join_result[inner_join_result.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [G_x, Date_x, Start (ET), Unnamed: 3, Unnamed: 4, Unnamed: 5_x, Opponent, Unnamed: 7_x, Unnamed: 8, Tm_x, Opp_x, W, L, Streak, Notes, Season_x, Season-game-number, Rk, G_y, Date_y, Age, Tm_y, Unnamed: 5_y, Opp_y, Unnamed: 7_y, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, GmSc, +/-, Season_y, Year]
Index: []

[0 rows x 49 columns]

In [33]:
inner_join_result.isna().any()

G_x                   False
Date_x                False
Start (ET)            False
Unnamed: 3             True
Unnamed: 4            False
Unnamed: 5_x           True
Opponent              False
Unnamed: 7_x          False
Unnamed: 8             True
Tm_x                  False
Opp_x                 False
W                     False
L                     False
Streak                False
Notes                  True
Season_x              False
Season-game-number    False
Rk                    False
G_y                    True
Date_y                False
Age                   False
Tm_y                  False
Unnamed: 5_y           True
Opp_y                 False
Unnamed: 7_y          False
GS                    False
MP                     True
FG                     True
FGA                    True
FG%                    True
3P                     True
3PA                    True
3P%                    True
FT                     True
FTA                    True
FT%                    True
ORB                    True
DRB                    True
TRB                    True
AST                    True
STL                    True
BLK                    True
TOV                    True
PF                     True
PTS                    True
GmSc                   True
+/-                    True
Season_y              False
Year                  False
dtype: bool

In [34]:
inner_join_result = inner_join_result[inner_join_result["GS"] == "1"]

In [35]:
inner_join_result.isna().any()

G_x                   False
Date_x                False
Start (ET)            False
Unnamed: 3             True
Unnamed: 4            False
Unnamed: 5_x           True
Opponent              False
Unnamed: 7_x          False
Unnamed: 8             True
Tm_x                  False
Opp_x                 False
W                     False
L                     False
Streak                False
Notes                  True
Season_x              False
Season-game-number    False
Rk                    False
G_y                   False
Date_y                False
Age                   False
Tm_y                  False
Unnamed: 5_y           True
Opp_y                 False
Unnamed: 7_y          False
GS                    False
MP                    False
FG                    False
FGA                   False
FG%                   False
3P                    False
3PA                   False
3P%                    True
FT                    False
FTA                   False
FT%                    True
ORB                   False
DRB                   False
TRB                   False
AST                   False
STL                   False
BLK                   False
TOV                   False
PF                    False
PTS                   False
GmSc                  False
+/-                   False
Season_y              False
Year                  False
dtype: bool

In [36]:
inner_join_result.to_csv("data//steph_csv", index=True)

In [37]:
inner_join_result.to_excel("data//steph_excel.xlsx", index=True)